{% extends "../layout/base.html" %}

{% block content %}
<div class="mt-5 py-5">
    {% if messages %}
            {% for message in messages %}
                {% if message.level > 25 %}
                    <ul class="alert alert-danger"> {{ message }}</ul>
                {% endif %}
            {% endfor %}
    {% endif %}
    <form id="e2e_test_params__form" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            {{ e2e_test_params__form.as_p }}
            <small id="emailHelp" class="form-text text-muted">Some text.</small>
        </div>  
    <hr />
    <div id="action-forms" class="row">
        {{ e2e_test_actions__formset.management_form }}
        {% for form in e2e_test_actions__formset %}
        <div id="form-{{ forloop.counter0 }}" class="action-form card" style="width: 18rem;margin:5px;">
            <div class="card-body">
                <h4 class="action-title card-title">Action {{ forloop.counter }}</h4>
                {{ form.as_p }}
                {% if forloop.last %}
                    {% comment %} "+" button should only apear on the last form {% endcomment %}
                    <button type="button" class="btn btn-success add-form-row">+</button>
                {% elif not forloop.last %}
                    {% comment %} If the form had errors it will refresh the page. 
                                  Hence, add "-" buttons to existing previous forms. {% endcomment %}
                    <button type="button" class="btn btn-danger remove-form-row">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>
                    </button>
                {% endif %}
            </div>    
        </div>
        {% endfor %}
    </div>
    <hr />

    <div class="row spacer">
        <div class="col-4">
            <button type="submit" class="btn btn-block btn-primary">Create</button>
        </div>
    </div>
</form>
</div>

{% load static %}
<script src="{% static 'js/formset-manager.js' %}"></script>

{% endblock content %}