<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand">Selenium Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url "add-e2e-test" %}">Tasks</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url "e2e-test-results-list" %}">Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "user-settings" %}">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "user-logout" %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "user-register" %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "user-login" %}">Login</a>
        </li>
         {% endif %}
      </ul>
    </div>
</nav>