{% extends "../layout/base.html" %}

{% block content %}
<div class="mt-5 py-5">
    {% if messages %}
            {% for message in messages %}
                {% if message.level == 25 %}
                    <ul class="alert alert-success"> {{ message }}</ul>
                {% endif %}
                {% if message.level > 25 %}
                    <ul class="alert alert-danger"> {{ message }}</ul>
                {% endif %}
            {% endfor %}
    {% endif %}
    <form id="e2e_test_params__form" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            {{ e2e_test_params__form.as_p }}
            <small id="emailHelp" class="form-text text-muted">Some text.</small>
        </div>  
    <hr />
    <div id="action-forms" class="row">
        {{ e2e_test_action__formset.management_form }}
        {% for form in e2e_test_action__formset %}
        <div id="action-form-{{ forloop.counter0 }}" class="action-form card" style="width: 18rem;margin:5px;">
            <div class="card-body">
                <h4 class="action-title card-title">Action {{ forloop.counter }}</h4>
                {{ form.as_p }}
                {% if forloop.last %}
                    {% comment %} "+" button should only apear on the last form {% endcomment %}
                    <button type="button" class="btn btn-success add-form-row">+</button>
                {% elif not forloop.last %}
                    {% comment %} If the form had errors it will refresh the page. 
                                  Hence, add "-" buttons to existing previous forms. {% endcomment %}
                    <button type="button" class="btn btn-danger remove-form-row">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>
                    </button>
                {% endif %}
            </div>    
        </div>
        {% endfor %}
    </div>
    <hr />

    <div class="row spacer">
        <div class="col-4">
            <button type="submit" class="btn btn-block btn-primary">Create</button>
        </div>
    </div>
</form>
    
    <!-- Display all the results after crawling -->
    <div class="mt-5">Total tests: {{ all_scheduled_tests.count }}</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">URL</th>
                <th scope="col">Page Title</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col">Launches per day</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Enabled</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in all_scheduled_tests %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>
                    <p>{{ item.url }}</p>
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>{{ item.launches_per_day }}</td>
                <td>{{ item.start_date }}</td>
                <td>{{ item.end_date }}</td>
                <td>{{ item.enabled }}</td>
                <td><button type="button" onclick='location.href="{% url 'edit-e2e-test' item.id %}"' class="btn btn-block btn-primary">Edit</button></td>
                <td><button type="button" onclick='location.href="{% url 'delete-e2e-test' item.id %}"' class="btn btn-block btn-danger">Delete</button></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if page_obj %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% load static %}
<script src="{% static 'js/formset-logic.js' %}"></script>

{% endblock content %}