{% extends "../layout/base.html" %}

{% block content %}
<div class="mt-5 py-5">

    <form id="e2e_test_params__form" class="form-horizontal" action="{% url 'edit-e2e-test' e2e_test.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                {{ e2e_test_params__form.as_p }}
                <small id="emailHelp" class="form-text text-muted">Some text.</small>
            </div>  
        <hr />
        <div id="action-forms" class="row">
            {{ e2e_test_action__formset.management_form }}
            {% for form in e2e_test_action__formset %}
            <div id="action-form-{{ forloop.counter0 }}" class="action-form card" style="width: 18rem;margin:5px;">
                <div class="card-body">
                    <h4 class="action-title card-title">Action {{ forloop.counter }}</h4>
                    {{ form.as_p }}
                    {% if forloop.last %}
                        {% comment %} "Add New Action" button should only apear on the last form {% endcomment %}
                        <button type="button" class="btn btn-danger remove-form-row">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true">REMOVE</span>
                        </button>
                        <button type="button" class="btn btn-success add-form-row">NEW</button>
                    {% else %}
                        <button type="button" class="btn btn-danger remove-form-row">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true">REMOVE</span>
                        </button>
                    {% endif %}
                </div>    
            </div>
            {% endfor %}
        </div>
        <hr />

        <div class="row spacer">
            <div class="col-4">
                <button type="submit" class="btn btn-block btn-primary">Update</button>
            </div>
        </div>
    </form>
    
</div>

{% load static %}
<script src="{% static 'js/formset-logic.js' %}"></script>

{% endblock content %}