{% extends "../layout/base.html" %}

{% block content %}
<div class="mt-5 py-5">

    <form id="add_test_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            {{ add_test_form.as_p }}
            <small id="emailHelp" class="form-text text-muted">Some text.</small>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <!-- Display all the results after crawling -->
    <div class="mt-5">Total tests: {{ all_scheduled_tests.count }}</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">URL</th>
                <th scope="col">Page Title</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in all_scheduled_tests %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>
                    <p>{{ item.link }}</p>
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.id }}</td>
                <td><a class="page-link" href="{% url 'edit-e2e-test' item.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if page_obj %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>
{% endblock content %}